.pagecontainer {
  background-image: linear-gradient(
      rgba(35, 43, 56, 0.541),
      rgba(35, 43, 56, 0.515)
    ),
    url("https://i.ibb.co/cvrpy4m/pexels-miguel-padri-n-3930097.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
